<h3>About All the Portland Mamas</h3>
<p>All the Portland Mamas was started by a group of moms in Portland who were sick of feeling isolated and wanted a better way to connect. This is a place all mamas are welcome to share their stories, good, bad, and ugly.</p>

<p>Whether you work, stay-at-home, fancy yourself an earth mama, prefer Taco Bell... we aren't judging. We just want you to be able to connect with mamas in your area who want to be your friend, mentor, or simply a resource when you face those hard questions all mothers face. </p>
