<h2>Meet the Mamas</h2>
<h5>We are an inclusive group of mamas living in Portland. Consider us your guides to mommyhood, your new friends, your people. It can be so isolating raising babies, that's why we would love to set up a playdate or simply a mom date with you! We aren't here to judge. This is a safe space, a place where we can all feel free to just be the moms we want to be. See our calendar of events for upcoming All the Portland Mamas meetups!

<div *ngFor="let mamaprofile of mamaprofiles | async" class="panel panel-default">
  <div class="panel-body">
    <h3 (click)="goToDetailPage(mamaprofile)">{{mamaprofile.name}}</h3>
    <p><em>{{mamaprofile.title}}</em></p>
    <div class="mama-photo"><img src={{mamaprofile.photo}}></div>
    <div *ngIf="currentRoute === '/admin'">
      <em>Lives in {{mamaprofile.location}}</em>
      <br>
      <hr>
      {{mamaprofile.description}}
      <app-edit-profile [selectedMamaProfile]="mamaprofile"></app-edit-profile>
    </div>
  </div>
</div>
