.navbar-brand {
  color: #488460;
  font-family: 'Lemonada', cursive;
  font-size: 40px;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s all ease-in-out;
  border-radius: 5px;
}

.navbar-brand:visited {
  color: #488460;
  background: rgba(255, 255, 255, 0.7);
}

.navbar-brand:hover {
  color: #e29953;
  background: rgba(70, 200, 200, 0.5);

}

li > a {
  color: #488460;
  background: rgba(255, 255, 255, 0.3);
  margin-left: 10px;
  transition: 0.5s all ease-in-out;
  font-size: 15px;
  border-radius: 5px;
  margin: 5px;
}

li > a:hover {
  color: #488460;
  background: rgba(70, 200, 200, 0.5);
}

li > a:visited {
  color: white;
}
.container {
   font-family: 'Montserrat', sans-serif;
 }

 footer {
   text-align: center;
 }
